<header class="header">
  <div class="cont_logo">

      <img id="btn_volver" routerLink="" src="../assets/flecha_volver.png" class="logo" alt="">
      <p routerLink="">VOLVER</p>

  </div>

</header>

<main class="main_mineria">
  <p class="subtitulo">La Minería de Datos</p>


  <section class="section">
      <div class="cont_info_mineria">
          <h1 class="section__titulo">Las reglas de asociación aplicado a la Encuesta Nacional de Nutrición y Salud</h1>

          <p class="txt_info">La minería de datos es una técnica que se utiliza en los analisis, para poder explorar y procesar grandes cantidades de datos, esto representa un beneficio para las organizaciones, puesto que les permite identificar patrones y relaciones entre los datos.</p>
          <p class="txt_info">En los resultados de la ENNyS 2 se realizaron tareas de reglas de asociacion, sobre los distintos grupos alimenticios que categorizaba la misma entrevista, para esto se necesito realizar varios procesos.
              El problema de investigación que se encontró  presente, es la falta cierto conocimiento, el conocer la influencia de ciertos grupos de alimentos en otros, que pudieran de alguna manera afectar a los hábitos alimenticios de las personas, no hay artículos que traten el tema con suficiente dedicación al respecto.
          </p>

      </div>
      <img class="img_mineria" src="../../../assets/mineria_datos.png" alt="">

  </section>



  <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              <h2 class="section__subtitulo">La Encuesta</h2>

          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body cuerpo_acordion">
              <p class="txt_info">Los datos obtenidos fueron recolectados desde la base de datos de la encuesta que se publicó en los Datos Abiertos del Ministerio de Salud de la Argentina, la misma fue realizada en septiembre de 2019, publicada el 12 de agosto de 2021, teniendo su última actualización el 22 de diciembre de 2021 (en el momento que fue realizado el proyecto). El conjunto de datos (Datasets) obtenido, forma parte de los Datasets públicos, generados, guardados y publicados por organismos de gobierno de la República Argentina.</p>
              <img class="img_mineria" src="../../../assets/encuesta.png" alt="">

          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              <h2 class="section__subtitulo">Resultados de la encuesta</h2>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body ">
              <div class="cuerpo_acordion">
                  <p class="txt_info">La ENNyS 2 es una encuesta representativa de los individuos residentes en hogares particulares de localidades urbanas de 5000 habitantes y más, en la República Argentina. Se trata de una muestra probabilística estratificada por región y polietápica en 4 fases de selección aleatoria, con arreglo proporcional a la población: una primera etapa de selección de aglomerados urbanos de población (formados por ciudades y/o localidades); una segunda instancia de selección de radios censales; la tercera fase de selección de hogares dentro de los radios censales y, por último, la etapa de selección de miembros a encuestar dentro de cada hogar.
                      Así mismo, la muestra garantizó la representatividad de las 6 regiones del país:

                  </p>
                  <img class="img_mineria" src="../../../assets/archivo.png" alt="">
              </div>

              <ul >
                  <li class="txt_info">GBA: Ciudad Autónoma de Buenos Aires (CABA) y 24 partidos del Conurbano bonaerense.</li>
                  <li class="txt_info">CENTRO: Resto de la provincia de Buenos Aires, Córdoba, Entre Ríos y Santa Fe.</li>
                  <li class="txt_info">NORESTE: Chaco, Corrientes, Formosa y Misiones.</li>
                  <li class="txt_info">NOROESTE: Catamarca, Jujuy, La Rioja, Salta, Santiago del Estero y Tucumán.</li>
                  <li class="txt_info">CUYO: Mendoza, San Juan y San Luis.</li>
                  <li class="txt_info">PATAGONIA: Chubut, La Pampa, Neuquén, Río Negro, Santa Cruz y Tierra del Fuego</li>
              </ul>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              <h2 class="section__subtitulo">Comprension de los datos</h2>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body cuerpo_acordion">
              <p class="txt_info">Los datos inspeccionados son aquellos resultantes de la ENNYS 2 , estos estaban guardados en 3 archivos del tipo excel, uno conteniendo los resultados relacionados con los nutrientes totales consumidos por cada miembro encuestado, otro teniendo información de los grupos de alimentos y bebidas consumidas por las personas y el último vinculado con información del miembro respectivamente, siendo este el resultado de un cuestionario sociodemográfico. Se obtuvieron valores con ruidos en fechas, valores nulos, inconsistentes y no correspondientes  en ciertos campos, los mismos estaban colocados en campos correspondientes a otros campos, debido a problemas humanos en el momento de la carga de los datos.
              </p>

              <img class="img_mineria" src="../../../assets/analisis_datos.png" alt="">
          </div>
        </div>
      </div>

      <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
              <h2 class="section__subtitulo">Preparacion de los datos</h2>
          </button>
          </h2>
          <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
            <div class="accordion-body prep_datos">
              <img class="img_mineria" src="../../../assets/integracion_datos.png" alt="">

                <p class="txt_info">Los casos que se esperaban encuestar por la ENNYS2  eran de 21.600, dentro de los cuales solo fueron efectivos 21.358 y dentro de estos había 315 registros de los cuales no se podía encontrar una relación directa entre las tablas de la base de datos.
                  Luego de un análisis de los datos, se encontró que había unos campos identificadores entre las tablas, que estaban cargados en campos diferentes a donde correspondía o donde se esperaba encontrarlos,  como es el caso de la tabla relacionada con las encuestas, en donde había registros en los cuales el valor identificador del registro, se encontraba en el campo identificador de la vivienda, modificando estos registros específicos solo 21.185 son los que se podría trabajar luego de realizar las transacciones correspondientes, quedando sin analizar 173.
                  Siendo 21.358 el 100% de los datos recolectados, 173 registros corresponden al 0.8%
                  pudiendo trabajar sobre el 99.2% de los datos recolectados (21.185).
                  Los registros seleccionados para aplicar las técnicas de minería de datos son 21.185, dentro de los cuales se separan también por las 6 regiones:-GBA: 2928 registros
-CENTRO: 3643 registros
-NORESTE (NEA): 3600 registros
-NOROESTE (NOA):3929 registros
-CUYO: 3763 registros
-PATAGONIA: 3322 registros

                  </p>

                <img class="img_mineria" src="../../../assets/base_datos.png" alt="">
              </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
              <h2 class="section__subtitulo">Reglas de asociación</h2>
          </button>
          </h2>
          <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
            <div class="accordion-body cuerpo_acordion">
                <p class="txt_info">La técnica de modelado más apropiada al tipo de problema que se quiso resolver, son las reglas de asociación y dependencia, puesto que se realizará una tarea de asociación, que identificara y expresaran relaciones y patrones de comportamiento entre los datos, en función de la aparición conjunta de valores de dos o más atributos.</p>

                <img class="img_mineria" src="../../../assets/mineria_datos1.png" alt="">
              </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
              <h2 class="section__subtitulo">Experiencia</h2>
          </button>
          </h2>
          <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
            <div class="accordion-body cuerpo_acordion">
                <p class="txt_info">La experiencia obtenida tras realizar el trabajo de investigación fue bastante significativa, pudiendo tener una idea de las cuestiones a tener en cuenta en proyectos similares como así también comprender que existen dificultades y que cada una de ellas se puede resolver de varias maneras. Durante la elaboración del trabajo se pudo obtener mas conocimiento de ciertos dominios, en este caso, lo relacionado a la situación en cuanto a  alimentación de la argentina, a través del proceso de adquisición del conocimiento, teniendo como pasos, los de extracción y educción del conocimiento, consistiendo estos en obtener información del área de interés, a través de fuentes de conocimiento que se presentan de manera escrita y conocimiento obtenido desde humanos expertos en el dominio, que ya han resueltos tantos casos en el dominio.</p>

                <img class="img_mineria" src="../../../assets/pagina_web.png" alt="">
            </div>
          </div>
        </div>





    </div>



</main>

