<div class="cont_grupos">
  <div  (click)="verAlimento('Carnes',
  'El grupo de carnes esta compuesto de alimentos como cabra, carne picada, cerdo, matambre, chorizo, conejo, hamburguesas, higado, jabalí, jamón cocido y crudo entre otros.'
  ,'El grafico de torta muestra que el grupo de carnes fue mayormente consumido en la región del Centro.',
  'El grupo de carnes fue consumido en las regiones de la argentina con un total de aproxidamente 5.138.239 gramos, este grupo de alimento difiere poco entre los demas grupos en el consumo del mismo en las distintas regiones.')" class="cont alims box carnes">
    <!-- <h4><strong>Carnes</strong></h4> -->
  </div>
  <div (click)="verAlimento('Verduras','El grupo de verduras esta compuesto de alimentos como acelgas, aji, arveja, berenjena, cebolla, chaucha, entre otros.',
  'El grafico de torta muestra que el grupo de verduras fue mayormente consumido en la región del Centro, no muy alejado de lo que fue ingerido en las demas regiones.',
  'El grupo de verduras fue consumido en las regiones de la argentina con un total de aproxidamente 2.816.154 gramos, este grupo de alimento tiene valores cercanos de gramos consumidos en las distintas regiones.')" class="cont alims box verduras">
    <!-- <h4><strong>Verduras</strong></h4> -->
  </div>
  <div (click)="verAlimento('Bebidas',
  'El grupo de bebidas esta compuesto de diversos tipos de agua, bebidas a base de soja, gaseosas, jugos en polvo, jugos de fruta y bebidas alcoholicas entre otras.',
  'El grafico de torta muestra que el grupo de verduras fue mayormente consumido en la región del Noa, por cantidades considerables.',
  'El grupo de bebidas fue consumido en las regiones de la argentina con un total de aproxidamente 42.959.058 gramos, presentando cantidades considerablemente diferentes de consumo en cada región.')" class="cont alims box bebidas">
    <!-- <h4><strong>Bebidas</strong></h4> -->

  </div>
  <div (click)="verAlimento('Legumbres',
  'El grupo de legumbres esta compuesto de almidones, diversos tipos de arroz, bizcochitos de grasa y de arroz, cereales, choclos, fideos, diversos tipos de galletas y harinas, lentejas, masa de pizza y prepizza, diversos tipos de panes, papa, ravioles, semola, tapas de lasagna, tofu, tarta de coco y de cumpleaños, diversos tipos de tostadas, trigo, turron de mani y navideño, tutuca y vainillas. ',
  'El grafico de torta muestra que el grupo de legumbres, papas y cereales, fue mayormente consumido en la región del Noa, no se presenta mucha diferencia entre los valores consumidos para cada región.',
  'El grupo de legumbres, papas y cereales fue consumido en las regiones de la argentina con un total de aproxidamente 6.982.817 gramos.')" class="cont alims box legumbres">
    <!-- <h4><strong>Legumbres</strong></h4> -->

  </div>
  <div (click)="verAlimento('Grasas',
  'El grupo de grasas esta compuesto de crema de leche, grasas de cerdo, pollo, vacuna, margarinas, mantecas, papas fritas, nachos, snacks saborizados, palitos salados, mani japonés y palitos aireados de harina de maíz o de colores',
  'El grafico de torta muestra que el grupo de las grasas, fue mayormente consumido en la región del Centro, presentando diferencias considerables de consumo en grasas en las distintas regiones.',
  'El grupo de grasas fue consumido en las regiones de la argentina con un total de aproxidamente 121.131 gramos, siendo uno de los grupos con menor consumo de las regiones')" class="cont alims box grasas">
    <!-- <h4><strong>Grasas</strong></h4> -->

  </div>
  <div (click)="verAlimento('Pescados',
  'El grupo de pescados y mariscos esta compuesto de abadejo, almejas, anchoas, atún, brótola, caballa, calamar, camarón, cornalitos, corvina, dorado, gatuzo, hamburguesa de pescado, langostinos, medallón de pescado, pescados de río, sábalo, salmones, sardinas, surubí y truchas.',
  'El grafico de torta muestra que el grupo de pescados y mariscos, fue mayormente consumido en la región del Centro por demasiada diferencia.',
  'El grupo de pescados y mariscos fue uno de los grupos de alimentos menos consumido en las distintas regiones de la argentina, con aproximadamente 118.508 gramos.')" class="cont alims box pescados">
    <!-- <h4><strong>Pescados</strong></h4> -->
  </div>
  <div (click)="verAlimento('Huevos',
  'El grupo de huevos contiene huevos de gallina (entero, yema y clara) y huevos entero de codorníz.',
  'El grafico de torta muestra que el grupo de huevos fue mayormente consumido en la región del Nea y menos consumido en la región del Cuyo, por muy poca diferencia con respecto a las otras regiones.',
  'El grupo de huevos fue consumido por los habitantes de las regiones en una cantidad aproximada de 450.462 gramos.'
  )" class="cont alims box huevos">
    <!-- <h4><strong>Huevos</strong></h4> -->

  </div>
  <div (click)="verAlimento('Aceites',
  'El grupo de aceites para la encuesta tambien tuvo en cuenta a semillas y frutas secas conformadose por aceite comestible de mezcla, aceite de canola, aceite de chía, aceite de coco, aceite de girasol, aceite de maíz, aceite de oliva, aceite de sésamo, aceite de soja, aceite de uva, aceite para coccion, rocío vegetal, almendras, avellanas, gomasio, maní tostado, mezcla de semillas, mix de frutos secos, pistacho y semillas de chía, girasol, sésamo, zapallo, amapola y de lino.',
  'El grafico de torta muestra que el grupo de aceites fue mayormente consumido en la región del Centro y menos consumido en la región del GBA, por muy poca diferencia con respecto a las otras regiones.',
  'El grupo de aceite fue consumido por los habitantes de las regiones en una cantidad aproximada de 543.795 gramos.')" class="cont alims box aceites">
    <!-- <h4><strong>Aceites</strong></h4> -->

  </div>
  <div (click)="verAlimento('Yogur y Postres',
  'El grupo de yogures y postres esta compuesto de bebidas lacteas a base de agua, yogurt, azúcar y saborizantes, flanes envasados listos para consumir, postres de leche listos para consumir, yogures de fitoesteroles, descremados, enteros y fortificado con hierro.',
  'El grafico de torta muestra que el grupo de yogures y postres de leche fue mayormente consumido en la región del Noa y menos consumido en la región del GBA, por muy poca diferencia con respecto a las otras regiones.',
  'El grupo de yogures y postres de leche fue consumido por los habitantes de las regiones en una cantidad aproximada de 1.485.611 gramos.')" class="cont alims box yogur_postre">
    <!-- <h4><strong>Yogur y Postres</strong></h4> -->

  </div>
  <div (click)="verAlimento('Quesos',
  'El grupo de quesos esta compuesto de muzzarella rebozada prefrita y sin freir, quesillo, queso azul, blanco (descremado y semidescremado), cheddar, chubut, crema entero, cremoso, cuartirolo, de cabra, de máquina, de vaca criollo, en hebras, hebras light, fontina, fresco sin sal, fundido, goya, gruyére, holanda, limburguer, mar del plata, pategrás, mascarpone, muzzarella, parmesano, pasta planda, pasta dura, semidura, porsalut, provolone, rallado, reggianito, roquefort, sardo, srbinz, taif, tandil, untable, de pasta semidura, ricota y ricota descremada.',
  'El grafico de torta muestra que el grupo de quesos fue mayormente consumido en la región del Centro y menos consumido en la región del Nea, por poca diferencia con respecto a las otras regiones.',
  'El grupo de quesos fue consumido por los habitantes de las regiones en una cantidad aproximada de 654.555 gramos.')" class="cont alims box queso">
    <!-- <h4><strong>Quesos</strong></h4> -->
  </div>
  <div (click)="verAlimento('Opcionales y Misceláneos',
  'El grupo de opcionales y misceláneos contiene palitos aireados de harina de maíz, palitos salados, papas fritas de copetín, maní japonés, nachos, snacks saborizados, aceto balsámico, aderezo salsa alioli, aderezo caesar, aderezo para ensaladas, aderezo salsa cheddar, jugo de limon envazado, ketchup, mayonesa, mayonesa light y de soja, mostaza, salsa a base de tomate, salsa agridulce, salsa barbacoa, salsa blanca, salsa chimichurri, salsa deshidratada, salsa de soja, salsa golf, salsa paraguiso, vinagre, caldos, sopa crema instantánea y preparada, saborizador en cubos y en polvo, sopa de fideos, sopa de vegetales y sales.',
  'El grafico de torta muestra que el grupo de opcionales y misceláneos fue mayormente consumido en la región del Centro y menos consumido en la región del GBA, por muy poca diferencia con respecto a las otras regiones.',
  'El grupo de opcionales y misceláneos fue consumido por los habitantes de las regiones en una cantidad aproximada de 374.401 gramos.')" class="cont alims box opcionales_miscelaneos">
    <!-- <h4><strong>Opcionales y Misceláneos</strong></h4> -->

  </div>
  <div (click)="verAlimento('Leche',
  'El grupo de leche esta compuesto de leche alimentos a base de leche entera y cafe, leche chocolatada en polvo, leche parcialmente descremada, leche condensada, leche de cabra, leche de oveja, leche de vaca, leche descremada, leche en polvo, leche semidescremada, leche entera, leche parcialmente descremada, leche fórmula, leche materna, bebida láctea parcialmente descremada y probióticos descremados y enteros.'
  ,'El grafico de torta muestra que el grupo de leche fue mayormente consumido en la región del Centro y menos consumido en la región del Cuyo, por muy poca diferencia con respecto a las otras regiones.'
  ,'El grupo de leche fue consumido por los habitantes de las regiones en una cantidad aproximada de 6.923.496 gramos, siendo uno de los alimentos mayormente consumidos por los habitantes de las regiones de la argentina.')" class="cont alims box leche">
    <!-- <h4><strong>Leche</strong></h4> -->

  </div>
  <div (click)="verAlimento('Frutas',
  'El grupo de frutas esta compuesto de Aceituna negra y verde, alimentos a base de coco, acerola, ananá, arándanos, bananas, cayota o alcayota, cereza, ciruelas, cocos, coctail de frutas, damasco, dátiles, duraznos, frambuesa, frutas abrillantadas, frutilla, granada, guabirova higo desecado, higo, kaki, kinoto, kiwi, limón, mamón, mandarina, mango, manzanas, maracuyá, melón, membrillo, mora, naranjas, níspero, palta, papaya, peras, pitanga, pomelo, puré de frutas envasado, sandía, tuna y uvas.',
  'El grafico de torta muestra que el grupo de frutas fue mayormente consumido en la región del Centro y menos consumido en la región del Cuyo, por muy poca diferencia con respecto a las otras regiones.',
  'El grupo de frutas fue consumido por los habitantes de las regiones en una cantidad aproximada de 1.868.587 gramos.')" class="cont alims box fruta">
    <!-- <h4><strong>Frutas</strong></h4> -->
  </div>
  <div (click)="verAlimento('Dulces',
  'El grupo de dulces esta compuesto de almíbar, arrope, crema de avellanas con cacao, dulce de batata, dulce de cayote, dulce de leche, dulce de mamón, dulce de membrillo, dulce de zapallo, fondant, grana para decorar tortas, jalea tipo membrillo, kero o melaza, mermelada de frutas, miel, miel de caña, pulpa de frutas para repostería, rapadura, relleno y cobertura para repostería, saborizadores, salsas topping y postres industriales como arroz con leche envasado, gelatina envasada, polvo para preparar flanes, postres lacteos y mousse de limón y chocolate.'
  ,'El grafico de torta muestra que el grupo de dulces fue mayormente consumido en la región del Noa y menos consumido en la región del GBA, por poca diferencia con respecto a las otras regiones.',
  'El grupo de dulces fue consumido por los habitantes de las regiones en una cantidad aproximada de 1.517.448 gramos.')" class="cont alims box dulce">
    <!-- <h4><strong>Dulces</strong></h4> -->

  </div>
</div>
