<div class="cont_grupos">
  <div (click)="verAlimento('Carnes')" class="cont alims box">
    <h2>Carnes</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta delectus quae incidunt accusantium mollitia! Dicta porro inventore deleniti totam dolorem, quasi rem repellendus pariatur voluptates consequatur vel possimus eaque nulla?</p>
  </div>
  <div (click)="verAlimento('Verduras')" class="cont alims box">
    <h2>Verduras</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta delectus quae incidunt accusantium mollitia! Dicta porro inventore deleniti totam dolorem, quasi rem repellendus pariatur voluptates consequatur vel possimus eaque nulla?</p>
  </div>
  <div (click)="verAlimento('Bebidas')" class="cont alims box">
    <h2>Bebidas</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta delectus quae incidunt accusantium mollitia! Dicta porro inventore deleniti totam dolorem, quasi rem repellendus pariatur voluptates consequatur vel possimus eaque nulla?</p>
  </div>
  <div (click)="verAlimento('Legumbres')" class="cont alims box">
    <h2>Legumbres</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta delectus quae incidunt accusantium mollitia! Dicta porro inventore deleniti totam dolorem, quasi rem repellendus pariatur voluptates consequatur vel possimus eaque nulla?</p>
  </div>
  <div (click)="verAlimento('Grasas')" class="cont alims box">
    <h2>Grasas</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta delectus quae incidunt accusantium mollitia! Dicta porro inventore deleniti totam dolorem, quasi rem repellendus pariatur voluptates consequatur vel possimus eaque nulla?</p>
  </div>
  <div (click)="verAlimento('Pescados')" class="cont alims box">
    <h2>Pescados</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta delectus quae incidunt accusantium mollitia! Dicta porro inventore deleniti totam dolorem, quasi rem repellendus pariatur voluptates consequatur vel possimus eaque nulla?</p>
  </div>
</div>
