<div class="cont_grupos">
  <div (click)="verAlimento('Carnes')" class="cont alims box">
    <h4>Carnes</h4>
    <p>Variedades de carnes expresadas en gramos.</p>
  </div>
  <div (click)="verAlimento('Verduras')" class="cont alims box">
    <h4>Verduras</h4>
    <p>Expresados en gramos.</p>
  </div>
  <div (click)="verAlimento('Bebidas')" class="cont alims box">
    <h4>Bebidas</h4>
    <p>Bebidas CON Azúcar
      Bebidas SIN Azúcar
      Bebidas Alcohólicas
      Agua
      Bebidas de frutas naturales o mínimamente procesadas sin azúcar agregada
      Infusiones.
      Expresadas en gramos.
      </p>
  </div>
  <div (click)="verAlimento('Legumbres')" class="cont alims box">
    <h4>Legumbres</h4>
    <p>Legumbres, cereales, papa, pan y pastas.
      Expresados en gramos.
      </p>
  </div>
  <div (click)="verAlimento('Grasas')" class="cont alims box">
    <h4>Grasas</h4>
    <p>Grasas consumidas(
      Chicharrón, Crema de leche, Crema chantilly (lista para consumir, aerosol o industrial preparada), Crema light, Grasa de cerdo G008 Grasa de pollo, Grasa vacuna, Manteca, Manteca light, Margarina (en pote y en pan), Margarina untable light) Expresados en gramos.
      </p>
  </div>
  <div (click)="verAlimento('Pescados')" class="cont alims box">
    <h4>Pescados</h4>
    <p>Expresados en gramos.</p>
  </div>
  <div (click)="verAlimento('Huevos')" class="cont alims box">
    <h4>Huevos</h4>
    <p>Huevos consumidos (
      Huevo de gallina, entero
      Huevo de gallina, clara
      Huevo de gallina, yema
      Huevo de codorníz, entero
      ) expresados en gramos.
      </p>
  </div>
  <div (click)="verAlimento('Aceites')" class="cont alims box">
    <h4>Aceites</h4>
    <p>Aceites consumidos(
      comestible mezcla,
      para cocción, Aceite de canola para cocción,
      Aceite de chía para cocción,
      Aceite de coco para cocción
      Aceite de girasol,
      Aceite de girasol alto oleico
      Aceite de girasol alto oleico, para cocción Aceite de girasol, para cocción
      Aceite de maíz y otros tipos
      )expresados en gramos.
      </p>
  </div>
  <div (click)="verAlimento('Yogur_Postres')" class="cont alims box">
    <h4>Yogur_Postres</h4>
    <p>Postre de leche listo para consumir tipo Danonino,
      Postre de leche listo para consumir tipo Serenito,
      Yogur con fitoesteroles, descremado, descremado bebible, descremado con cereales, descremado con frutas, descremado con frutas y cereales, entero bebible saborizado, entero con cereales, entero con frutas.
      </p>
  </div>
  <div (click)="verAlimento('Quesos')" class="cont alims box">
    <h4>Quesos</h4>
    <p>Expresados en gramos.</p>
  </div>
  <div (click)="verAlimento('Opcionales_Miscelaneos')" class="cont alims box">
    <h4>Opcionales_Miscelaneos</h4>
    <p>Teniendo entre ellos:
      Snacks Salados
      Aderezos
      Caldos y Sopas Industriales.
      Expresados en gramos.
      </p>
  </div>
  <div (click)="verAlimento('Leche')" class="cont alims box">
    <h4>Leche</h4>
    <p>Variedades de leches expresadas en gramos.
    </p>
  </div>
  <div (click)="verAlimento('Frutas')" class="cont alims box">
    <h4>Frutas</h4>
    <p>Variedades de frutas expresadas en gramos.
    </p>
  </div>
  <div (click)="verAlimento('Dulces')" class="cont alims box">
    <h4>Dulces</h4>
    <p>Variedades de dulces expresadas en gramos.
    </p>
  </div>
</div>
