
    <header class="header">
      <div class="cont_logo">

          <img id="btn_volver" routerLink="" src="../assets/flecha_volver.png" class="logo" alt="">
          <p routerLink="">VOLVER</p>

      </div>

  </header>
  <main class="main_region">
      <div class="cont_region">
          <h1 id="titulo_region">{{alimento}}</h1>
          <img id="img_region" class="img_region img_info"  [src]="url_img" alt="">
          <p class="txt_info">{{descripcion}}</p>
      </div>

      <div class="cont_resultados">
          <h1>Resultados</h1>
          <app-grafico [alimento]="alimento_grafico" [verAlimentosxRegion]="true"></app-grafico>
          <p class="txt_info">{{resultados}}</p>
      </div>
      <div class="cont_conclusiones">
          <h1>Conclusiones</h1>
          <img src="../assets/conclusion.png" class="conclusion" alt="">
          <p class="txt_info">{{conclusiones}}</p>
      </div>
      <button routerLink="../mineria" id="btn_como" class="btnTomineria">Como se obtuvo esto?</button>
  </main>

