<header class="header">
  <div class="cont_logo">

      <img id="btn_volver" routerLink="" src="../assets/flecha_volver.png" class="logo" alt="">
      <p routerLink="">VOLVER</p>

  </div>

</header>

<main class="main_mineria">
  <p class="subtitulo">Grupos de Alimentos</p>


  <section class="section">
      <div class="cont_info_regiones">
        <p class="txt_info">En el siguiente grafico se muestra las cantidades consumidas en gramos por cada uno de los grupos de alimentos en todas las regiones de la Argentina.</p>

      </div>



  </section>
  <app-grafico [verAlimentos]="true" ></app-grafico>
  <p class="txt_info">Se puede observar que hay grupos de alimentos que no superan el 1 por ciento del total de gramos de alimentos consumidos, esto sucede puesto grupos como el de las bebidas y aguas representan mas de la mitad del consumo de por cada una de las personas en las regiones.</p>

</main>
