<header class="header">
  <div class="cont_logo">

      <img id="btn_volver" routerLink="" src="../assets/flecha_volver.png" class="logo" alt="">
      <p routerLink="">VOLVER</p>

  </div>

</header>

<main class="main_mineria">
  <p class="subtitulo">Regiones de Argentina segun la ENNyS2</p>


  <section class="section">
      <div class="cont_info_mineria">
          <h1 class="section__titulo">Reglas de Asociación</h1>
          <p>Las reglas de asociación</p>
          <h4 class="section__subtitulo">Aplicado a la ENNyS 2</h4>
          <p>En la ENNyS 2 se realizaron tareas de reglas de asociacion, sobre los distintos grupos alimenticios que categorizaba la misma entrevista</p>

      </div>
      <img src="../assets/mineria.jpg" alt="">



  </section>
  <app-grafico [verRegiones]="true" ></app-grafico>


</main>
