
:root{
  --color_primario:#498553;
  --color_secundario:#D7EADD;
  --color_terciario:#E9F3ED;

}
*{
  box-sizing: border-box;
}
body,p{
  margin: 0%;
  font-family: "gilroy" !important;
}
button{
  font-family: "gilroy" !important;
}

img{
  display: block;
}
h2{
  text-align: center;
  margin: 0;
}


@font-face {
  font-family: 'gilroy';
  src: url("./app/fonts/Gilroy-Light.otf");
}
@font-face {
  font-family: 'gilroy_bold';
  src: url("./app/fonts/Gilroy-ExtraBold.otf");
}


.alims{
  cursor: pointer;
}

/* ----------------------------- */



.carousel-indicators .active {
  background-color: #726197;
}

.carousel-caption {
  bottom: 15% !important;
}

.carousel-caption h1 {
  background-color: #72619761 !important;
}

.card {
  background-color: #fff0 !important;
  border: 0px !important;
}

.card-body {
  padding: 0.5rem !important;
}


/* ------------------------------ */
.header{
  display: flex;
  justify-content: space-between;
  background-color: var(--color_primario);
  color: white;
  height: 80px;
  width: 100%;
}
.section_images{
  display: flex;
  width: 100%;
  border-radius: 20px;
  border: 8px var(--color_primario) solid;
  justify-content: space-around;
  align-items: center;

}
.cont_logo{

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;

}
.logo{
  height: 50px;
  width: 50px;
}

.reg_alim{

  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;

}
.btn_reg_alim,.btnTomineria{
  background-color: var(--color_primario);
  color: white;
  outline: none;
  border-radius: 10px;
  border: 0.5px var(--color_terciario) solid;
  height: 50px;
}

.cont_encuesta,.section{
  /* background-color: var(--color_secundario); */
}

.main_region{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cont_region,.cont_resultados,.cont_conclusiones{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnTomineria{
  background-color: var(--color_primario);
  width: 200px;
  margin: 0 auto;



}

.cont_grupos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 25px;

}


/*-------------------------------------------------------------------*/




.titulo {
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 40px;
  color: #fff;
}

.subtitulo {
  margin: 0;
  color: #000;
  display: inline;
  font-size: 50px;
  font-weight: 500;
}

.sabor {
  color: #fff;
  margin: 7px 0;
  font-size: 50px;
  font-weight: 600;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
  font-family: 'Dancing Script', cursive;
  margin-top: 0;
}

.linea-division {
  width: 80%;
  height: 2px;
  background-color: #36221c;
}

/*-------------------------------------------------------------------*/
/* MINERIA ESTILOS */
.main_mineria{
}
.section{
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.section__titulo,.section__subtitulo{
  text-align: start;
}


/*--------------------------- carrusel --------------------*/

.container{
  width: 50%;
  position: relative;
}
.mySlides{
  display: none;
}
.mySlides img{
  width: 100%;
}
.prev,
.next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 32px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6 ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border:  solid #fff 2px;
}
.prev{
  left: 50px;
}
.next {
  right: 50px;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover{
  background-color: var(--color_secundario);
}
.elements{
  text-align: center;
}
.quadrate{
  cursor: pointer;
  height: 4px;
  width: 50px;
  margin: 0 2px;
  background-color: var(--color_secundario);
  display: inline-block;
  transition: background-color 0.6s ease;
  border-radius: 2px;
}
.active, .quadrate:hover{
  background-color: var(--color_primario);
}


.mapa_arg{
  height: 500px;
}

.carrusel{
  width: auto !important;
  height: 400px;
  margin: 0 !important;

}
.cont_img_region{
  height: 380px;
  display: block;
  text-align: center;

}

.img_region{
  width: 400px !important;
  height: 380px;

}



.cont{
  border: 2px var(--color_primario) solid;
  border-radius: 15px;
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.displayNone{
  display: none;
}
.displayBlock{
  display: block;
}




.box {
  /* Required properties */
  position: relative;
  background: white;

  /* Use  your own styles here */
  /* margin: 45px;
  width: 250px;
  height: 123px; */
}

.box:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-60deg, #60efff -100%, #00ff87 -100% );
  transform: translate3d(0px, 0px, 0) scale(0.96);
  filter: blur(13px);
  opacity: var(0.6);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/*
* Prevents issues when the parent creates a
* stacking context. (For example, using the transform
* property )
*/
.box::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}


.cont_grafico{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.conclusion{
  height: 300px;

}


/*------------------------------- MEDIA QUERYSSSSS----------------------------------- */
@media screen and (max-width:900px) {
  .container{
      width: 100%;
  }
}
@media screen and (max-width:700px) {
  .container{
      width: 100%;
  }
  .prev,
  .next{
      padding: 5px;
  }
  .section_images{
      display: flex;
      flex-direction: column;
      justify-content: start;
      height: 1200px;
  }
  .section{
    flex-direction: column;
  }

.cont_grafico{

}
}


